nav{
    background: transparent;
}

.nav-wrapper{
    display: flex;
    gap: 55rem;
    padding: 1rem;
}
.nav-wrapper h1{
    color: red;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0.8rem; 
}
.button-wrapper{

   align-items: flex-end;
}
.btn{
    padding: 0.5rem 1rem;
    
}
.btn-red{
    background: red;
    color: white;
    margin-left: 1rem;
}
.btn-white{
    background: white;
    color: red;
}
.nav-toggle{
    display: none;
}
@media screen and (max-width: 1024px){
    .button-wrapper{
     display: flex;
    gap: 1rem;
     right: 35px;
     position: absolute;
     top: 0%;
    }
    .nav-wrapper h1{
     
        margin-top: 0.3rem; 
    }
    .btn-red{
        margin-left: 0;
    }
     
.nav-toggle{
        display: inline-block;
        font-size:1.8rem ;
        cursor: pointer;
        color: white;
        margin-top: 0.8rem;
        position: absolute;
        right: 5px;
       } 
       .show-nav{
        display: flex;
       }
       .hide-nav{
        display: none;
       }
    
    }
   